


/* Landing Page */
body {
    background-color: #ffffff;
    color: #333333;
    font-family:arial,sans-serif;

  }
  
  /* About Me Page */
  #about {
    background-color: #f9f9f9;
    color: #333333;
  }
  
  /* Contact Me Page */
  #contact {
    background-color: #f5f5f5;
    color: #333333;
  }
  
  /* Accent Color */
  a {
    color: #2f2ab8; /* For links */
  }
  
  .btn {
    background-color: #808080; /* For buttons */
  }
  #back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    color: #ffffff;
    background-color: #007bff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  }
  
  #back-to-top:hover {
    background-color: #0062cc;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:fit-content;
    background-color: #f5f5f500;
    padding: 1px;
  }
  .navbar {
    background-image: linear-gradient(to right, #10ffff,#2e3cd5);
    text-decoration: solid;
   
    /* Add any additional styles for the navbar */
  }
  .section {
    margin-left: 15px;
    border-bottom: 1px solid #100f0f; /* Adjust the color and thickness as needed */
    padding-bottom: 20px; /* Optional: Add some spacing below the container */
  }
.contact-icon{
    width: 60px;
    height: 60px;
}
.container{
    margin-bottom: 75px;
    margin-left: 15px;
}
.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    /* Additional styling for the footer */
  }
  
  .footer.hide {
    display: none;
  }
  h2{
    margin-left: auto;
  }
